*{
	margin:5px;
	padding:5px;
}
body{
	background-color:#333333;
	color:blue;
}
#contenedor1{
	background:#00ff00;
	height:400px;
	width:400px;
	border-radius:20px;
	font-size:20pt;
	text-align:center;
}
header{
	height:100px;
	background:white;
	border-radius:20px;
	text-transform:uppercase;
	
}
section{
	height:250px;
	background:orange;
	border-radius:20px;
	text-transform:uppercase;
}
header h1{
	text-decoration:underline;
	color:red;
}
section h1{
	color:pink;
	font-family:verdana
}
p{
	font-size:15px;
}